
.header img{
  max-width:1012px
}

.header .btn {
  position: absolute;
  font-family:'Assistant', sans-serif;
  color: white;
  background-color:transparent;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  float: left;
  word-wrap:normal;
  top: 100%;
}

.aboutusbtn {
  left: 20%;
}

.topattractionsbtn {
  left: 28%
}

.areasbtn {
  left: 41%
}

.toptipsbtn {
  left: 55%
}

.forumbtn {
  left: 65%
}

.contactusbtn {
  left:75%
}
